<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900', 'https://fonts.googleapis.com/css?family=Material+Icons', media: 'all' %>
    <%= stylesheet_pack_tag 'haiafara' %>
    <%= javascript_pack_tag 'haiafara' %>
    <% if(@resource_json) %>
      <%= javascript_tag nonce: true do %>
        window.resource_json = <%= @resource_json.html_safe %>
      <% end %>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
